<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<script th:src="@{/scripts/jsweb/cliente/frmcliente.js}"
        type="text/javascript"></script>
<nav th:insert="layout::menu"></nav>
<div class="card ">
  <div class="card-header text-bg-dark mb-3">
    Lista de Empleados
  </div>
  <div class="card-body">
    <button id="btnagregar"
            type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
    <hr />
    <div id="mensaje"></div>
  </div>
</div>
<!-- Modal Registrar-->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sala</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="txtnomempleado" class="form-label">Nombre del Empleado</label>
          <input maxlength="15" type="text" class="form-control" id="txtnomempleado">
        </div>
        <div class="mb-3">
          <label for="txtapeempleado" class="form-label">Apellido del Empleado</label>
          <input maxlength="15" type="text" class="form-control" id="txtapeempleado">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
        <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>